.back-btn {
  background: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  width: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #333;
}

a {
  text-decoration: none;
}

.details {
  border: 1px solid #333;
  border-radius: 5px;
}

.heading {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  color: #333;
}

.movie-details-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.movie-details-wrapper .movie-image img {
  width: 500px;
  height: 500px;
}

@media only screen and (max-width: 600px) {
  .movie-details-wrapper .movie-image img {
    width: 350px;
    height: 350px;
  }
}

.movie-details-wrapper .movie-details {
  width: 50vw;
  color: #333;
}

@media only screen and (max-width: 600px) {
  .movie-details-wrapper .movie-details {
    width: 100vw;
  }
}
